capacitor-google-map {
    display: inline-block;
    width: 100vw;
    height: 70vh;
}

ion-button{
    --padding-top: .5rem; 
    --padding-bottom: .5rem;
    --padding-start: .5rem;
    --padding-end: .5rem;
}