<div class="containe-fluid">

  <div style="display: grid; place-content: center;justify-items: center; margin-top: 1rem;">

    <ng-container *ngIf="posicion">

      <h3>Posicion Actual</h3>
      <p>Latitud: {{ latitud }}</p>
      <p>Longitud: {{ longitud }}</p>

    </ng-container>
    


    <ion-button (click)="obtenerPosicion()" shape="round" class="p-2">
      Detectar Ubicación
      <ion-icon slot="icon-only" name="location"></ion-icon>
    </ion-button>
   
  </div>
  
  <capacitor-google-map #map></capacitor-google-map>
</div>

