<div class="container-fluid">
    <div class="searchUbication">
        <button>
            <ion-icon name="map-outline"></ion-icon>
            <span>Ubicanos</span>
        </button>
        
    </div>
    
    <h1 class="catalogoTitle">
        Nuestro Catalogo 
    </h1>

    <div class="row">
        <div class="col-6">
            <ion-icon name="home-outline" size="large"></ion-icon>
            <span>
                Equipos Domesticos
            </span>
        </div>
        <div class="col-6">
            <ion-icon name="business-outline" size="large"></ion-icon>
            <span>
                Equipos Industriales
            </span>
        </div>

        <div class="col-6">
            <ion-icon name="cog-outline" size="large"></ion-icon>
            <span>
                Repuestos
            </span>
        </div>

        <div class="col-6">
            <ion-icon name="construct-outline" size="large"></ion-icon>
            <span>
                Materiales
            </span>
        </div>
    </div>

    <!-- <div class="linterna">
        <span (click)="linternaPage()">
            <ion-icon name="flashlight-outline"></ion-icon>
            <p>Ir a Linterna Page</p>
        </span>
    </div> -->

    <div class="d-flex justify-content-center align-items-center p-2 infoApp">

        <h2>Multiservicios Repomarca App Beta v1</h2>
        <p>Version de Android Studio: <strong>Android Studio Jellyfish</strong></p>
        <p>Version de JDK: <strong>22.0.1</strong></p>
        <p>Version de Graddle: <strong>8.2.1</strong></p>
        <p>Version de Angular: <strong>17.3.2</strong></p>
        <p>Version de Ionic: <strong>7.2.0</strong></p>
        <p class="nameDev">
            <strong>
                Prayxme Dev.
            </strong>
        </p>
    </div>

</div>

<!-- <ion-toast
    [isOpen]="isToastOpen"
    [message]="alertMsg"
    [duration]="5000"
    (didDismiss)="setOpen(false)"
></ion-toast> -->

